/*-- Básico ----------------------------------------------------------*/
ul, ul li a { margin: 10; padding: 10; list-style: none; border: 2px solid black  ;}
h1, h2, h3, p, form { margin: 0; padding: 0; border: 2px solid black; }
h1, h2 {text-align: center; color: darkred;}
h2 {color: lightcoral;}
.clear { clear: both; }
img { border: 1px solid #C5C5C5; }
div {  margin: 0; padding: 0; border: 2px solid gray;}
nav {  margin: 0; padding: 0; border: 2px solid purple;}
footer { margin: 0; padding: 0; border: 2px solid green;}

#contenedor {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border: 2px solid orangered
}

#cabecera { clear: both; }
#contenido { float: left; width: 78%; }
#contenido #principal { float: left; width: 78%; }
#contenido #secundario { float: left  ; width: 22%; text-align: center; }
#lateral { float: right; width: 22%; text-align: center;}
#pie { clear: both; }


#cabecera ul#menu_principal li{ display: inline; float: left; margin: 2%; font-size: 150%; }


#pie .enlaces   { float: left; }
#pie .copyright { float: right; }

#cabecera,
#lateral,
#lateral #noticias,
#lateral #publicidad,
#contenido,
#contenido #principal,
#contenido #secundario,
#pie {
  padding: .5em;
  border: none;
}

#lateral {
  padding: 0;
}

#cabecera {
  border: 2px solid blue;
}


#titulo1 ,#titulo2{
  background-color: wheat;
}

#tolkien, #brandon{
  background-color: aquamarine;
}

#contenido {
  width: 77%;
  padding: 0;
}

#contenido #principal {
  width: 73%;
}

#contenido #secundario {
  border: 2px solid brown;
}

#pie {
  padding: .5em 0;
  margin-top: 1em;
}

#contenido #principal .articulo {
  margin-bottom: 1em;
}

#lateral #publicidad {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 2px dashed orange;
}
